{% load static %}

<html>
<head>
    <title>Dashboard | AWS App</title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
{% include 'app_aws/navbar.html'%}
<br>
<div class="container bg-white shadow-md p-5 forms-layout">
<h1> Dashboard </h1>
<p> Welcome {{ user}} ! </p>
<img style="width: 150px;" src="{{ profilePic.profile_picture.url}}">
</div>
</body>
</html>