{% load static %}
{%load crispy_forms_tags %}

<html>
<head>
    <title>Register | AWS App</title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
<div class="container bg-white shadow-md p-5 forms-layout">
    <h1> Register </h1>
    <br

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <br>
        {{ form.email|as_crispy_field }}
        <br>
        {{ form.password1|as_crispy_field }}
        <br>
        {{ form.password2|as_crispy_field }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

<p>Welcome to the AWS App!</p>
</body>
</html>